/* Main Page Stuff */

body {
	background-color: #fff;
    margin: 2px;
    padding: 0;
}
menu {
    width: 50%;
    height: 100px;
    left: 0;
    top: 0;
    position: fixed;
    padding-right: 10px;
}
bar {
    width: 50%;
    height: 100px;
    right: 0;
    top: 0;
    position: fixed;
    text-align: right;
}
h1{
    color: #3c3c3c;
    font-family: verdana;
    float: left;
}

p {
	color: Black;
	font-family: verdana;
}
a:link {
	color: #3c3c3c;
    text-shadow: 1px 1px black;
	text-decoration: none;
	font-family: verdana;
}
a:visited {
	color: #000;
	text-decoration: none;
	font-family: verdana;
}
a:hover {
	color: #00c606;
    text-shadow: 2px 2px black;
	font-family: verdana;
}
a:active {
	color: #3c3c3c;
    text-shadow: 1px 1px black;
	text-decoration: none;
	font-family: verdana;
}
/* Other Stuff? */

