/* Main Page Stuff */

body {
    background-color: #fff;
    margin: 2px;
    padding: 0;
    font-family: verdana;
}
menu {
    width: 50%;
    height: 100px;
    left: 0;
    top: 0;
    position: absolute;
    padding-right: 10px;
}
bar {
    width: 50%;
    height: 100px;
    right: 0;
    top: 0;
    position: absolute;
    text-align: right;
}
div#spotify {
    width: 100%;
    padding-top:100px;
    background-color:#3C3C3C;
    font-family:verdana;
    float:left;
    position:absolte;
}
h1{
    color: #3c3c3c;
    font-family: verdana;
    float: left;
    text-shadow: 0 0 2px black;
}

p {
	color: Black;
	font-family: verdana;
}
a:link {
	color: #3c3c3c;
    text-shadow: 1px 1px black;
	text-decoration: none;
	font-family: verdana;
}
a:visited {
	color: #000;
	text-decoration: none;
	font-family: verdana;
}
a:hover {
	color: #00c606;
    text-shadow: 2px 2px black;
	font-family: verdana;
}
a:active {
	color: #3c3c3c;
    text-shadow: 1px 1px black;
	text-decoration: none;
	font-family: verdana;
}
/* Other Stuff? */

